{% extends 'appblog/base.html' %}
    
{% block main_content %}

<div class="container-sm mt-3">
    <h1 class="text-center mt-4">Informacion de la Publicacion</h1>
    
    <p class="text-center">titulo: {{Publicaciones.titulo}}</p>
    <p class="text-center">Camada: {{Publicaciones.posteo}}</p>
    
    <p class="text-center" >
        <a href="{% url '{% extends 'appblog/base.html' %}
    
{% block main_content %}

<div class="container-sm mt-3">
    <h1 class="text-center mt-4">Informacion de la Publicacion</h1>
    
    <p class="text-center">Titulo: {{publicacion.titulo}}</p>
    <p class="text-center">Posteo: {{publicacion.posteo}}</p>
    
    <p class="text-center" >
        <a href="{% url 'Publicacion_list' %}">Regresar</a>
    </p>
</div>


{% endblock main_content %}